{% extends 'container.html.twig' %}

{% block title %}Room
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<a class="btn btn-light align-self-start m-1" href="{{ path('bed_and_breakfast_index') }}">back to list</a>
		<h1>{{ room.summary }}</h1>

		<img width="30%" src="{{ vich_uploader_asset(room, 'imageFile') }}"/>

		<table class="table">
			<tbody>
				<tr>
					<th>Description</th>
					<td>{{ room.description }}</td>
				</tr>
				<tr>
					<th>Capacity</th>
					<td>{{ room.capacity }}
						personne(s)</td>
				</tr>
				<tr>
					<th>Superficy</th>
					<td>{{ room.superficy }}
						m<sup>2</sup>
					</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>{{ room.price }}
						€ / nuit</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{ room.address }}</td>
				</tr>
			</tbody>
		</table>

		{% if is_granted('ROLE_ADMIN') %}

			<div class="d-flex align-self-end flex-row">

				<a class="btn btn-secondary mx-1" href="{{ path('bed_and_breakfast_edit', {'id': room.id}) }}">Edit</a>

				{{ include('bed_and_breakfast/_delete_form.html.twig') }}
			</div>

		{% endif %}
	</div>
{% endblock %}
